#1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1.   * -> is expression
2.   'hello' -> is value
3.   -87.8 -> is value
4.   - -> is expression
5.   / -> is expression
6.   + -> is expression
7.   6 -> is value

#2. What is the difference between string and variable?

1.   STRING -> It is built in class. They can be written in single or double quote.  ex. "hello world", 'aditya0203patil@gmail.com', "7274733454" are exmaple of string
2.   VARIABLE -> It is a container in which can be used to store values in it. Variables has unique address.  ex. a = "hello world", here 'a' is variable which is used to store the string (hello wordl) in it

In [1]:
a = "hello world"
print(type(a))
print(id(a))

<class 'str'>
140651862237296

#3. Describe three different data types.

1.   integer -> int or integers are whole numbers, positive or negative without decimal point in it. They can of unlimited length. Int can also be zero

2.   float -> float are positive or negative fractional values. They can be unlimited lenght.

3.   boolean -> It is a data type which can have two values i.e TRUE or FALSE. It is used to express truth value of expressions.

In [ ]:
a = 123454321
print(type(a))
b = 123.321
print(type(b))
c = True
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

#4. What is an expression made up of? What do all expressions do?
 
*   Expression is made up of operators and operands. 
*   ex. 12 + 14, here 12 and 14 are operands and "+" operator 
operators can be of various diff types ex. +, -, *, /, %, **, //, and, or, increment, decrement, paranthesis () {} [], etc
*   Expressions are used to calculate some or the others values by using diff operators.

In [ ]:
a = 12
b = 14
result = a + b
print(result)

26

#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?



1.   expression is a piece of code that evaluated to value. It comprises of variables, operators.
ex 55<100, 7+8

*   55<100 when evaluated gives us true 
*   7+8, when evaluated gives us 15


2.   statement is a piece of code which gives instructions to computer. It comprises of loops, control statements, import statemts

*   if x == 20 then print(x)
*   import numpy

In [6]:
a = 55<100
print(a)

b = 7+8
print(b)

for i in range (1,20):
   if i%2==0:
     print(i)

import numpy

spam = 10

True
15
2
4
6
8
10
12
14
16
18

#6. After running the following code, what does the variable bacon contain?

> bacon = 22

> bacon + 1

After running the code value of bacon is 23.

In [8]:
bacon = 22
bacon = bacon + 1
print(bacon)

23

#7. What should the values of the following two terms be?

> 'spam' + 'spamspam'

> 'spam'*3

value of 'spam'+'spamspam' = spamspamspam
values of 'spam'*3 = spamspamspam

In [10]:
print("spam"+"spamspam")
print("spam"*3)

spamspamspam
spamspamspam

#8. Why is eggs a valid variable name while 100 is invalid?

Variable name should always start with aplhabets, it can also contain numbers but cannot start with numbers, it can start with underscore

According to above rules "eggs" is valid variable name and "100" is invalid variable name.

#9.What three functions can be used to get the integer, floating-point number, or string version of a value?

int(), float(), str()

#10. Why does this expression cause an error? How can you fix it?

In [11]:
"I have eaten" + 99 + "buritos."

TypeError: ignored

above type error is caused because we can only concatenante string value to string value in above example 99 is int value thats why type error is caused, to solve this error we can add double or single quotes around 99.

In [13]:
"I have eaten" + " " + "99" + " " + "buritos."

'I have eaten 99 buritos.'