#1.What are the two values of the Boolean data type? How do you write them?

*   TRUE AND FALSE are the two values of Boolean data type.

In [ ]:
x = 10
y = 20
print(bool(x<y))    #this is how we write them.

True

#2. What are the three different types of Boolean operators?

*   and -> requires two operands
*   or -> requires two operands
*   not  -> requires only one operand

In [ ]:
print(5>3 and 6>5)
print(5>10 or 10>8)
print(not(True))

True
True
False

#3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [ ]:
"""
A and B, then C is
A  B  C
1  1  1
1  0  0
0  1  0
0  0  0

A or B, then C is
A  B  C
1  1  1
1  0  1
0  1  1
0  0  0

not True = False
not False = True
"""

#4. What are the values of the following expressions?

1.   (5 &gt; 4) and (3 == 5) -> Flase
2.   not (5 &gt; 4) -> Flase
3.   (5 &gt; 4) or (3 == 5) -> True
4.   not ((5 &gt; 4) or (3 == 5)) -> Flase
5.   (True and True) and (True == False) -> False
6.   (not False) or (not True) -> True

In [ ]:
print((5>4)and(3==5))
print(not(5>4))
print((5>4)or(3==5))
print(not((5>4)or(3==5)))
print((True and True)and(True==False))
print((not(False)or(not True)))

False
False
True
False
False
True

#5. What are the six comparison operators?

In [ ]:
"""

1.  <    Less than
2.  >    Greater than
3.  <=   Less than euqal to
4.  >=   Greater than equal to
5.  ==   Equal to
6.  !=   Not equal to

"""

#6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

Equal to operator is a comaprison operator. It is used to compare two values. It is used as "==" in python pregamming language.

Assignment operator is used to assign values to variables. It is used as "a=1".

In [ ]:
#Equal to operator (==)
#Lets say we have two variables
a = 10
b = 20
#and we want to check if both of them are equal or not, then we will use "==" operator
a==b 
#Here we are compairing two values to each other therfore "==" is known as COMPARISON OPERATOR

False

In [ ]:
#Assignment operator (=)
#Lets say we want to assign values to variable as 10, then we use "=" operator
x = 10
print(x)
#Here we are assigning value to x as 10 therefore "=" is knowN as ASSIGNMENT OPERATOR

10

#7. Identify the three blocks in this code:

In [ ]:
spam = 0
if spam == 10:
  print("eggs")
if spam > 5:
  print("bacon")
else:
  print("ham")
  print("spam")
  print("spam")

#Peice of code written at same intendation level is called as BLOCK OF CODE.
#In above example we have 3 Blocks of Code.

#First Block of Code
  if spam == 10:
    print("eggs")

#Second Block of Code
  if spam > 5:
    print("bacon")

#Third Block of Code
  else:
    print("ham")
    print("spam")
    print("spam")

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam = 1
if spam == 1:
  print("Hello")
elif spam == 2:
  print("Howdy")
else:
  print("Greetings!")

Hello

#9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

CTRL + C

#10. How can you tell the difference between break and continue?

*   Break : Its used to come of out of loop.
*   Continue : Its used to continue the loop.

In [ ]:
#for example:

numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i>500:
    break
  elif i>150:
    continue
  elif i%5==0:
    print(i)

"""
In above exmaple,
we are using BREAK to come out of loop if values of i is greater 
than 500 
and we are using CONTINUE to keep loop running if value of i is greater than 150.
"""

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [13]:
"""
range(start, end, steps)
it takes 3 parameters.
ex:
range (0,10,1)
so above range describes that start from 0 stop at 10 at the interval of 1.

"""
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
"""
range(start,end)
it takes 2 parameters.
ex:
range(0,10)
so above range describes to start at 0 and end at 10.

"""
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
"""
range(end)
it takes 1 parameter.
ex:
range(10)
so above range describes that end at 10.

"""
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [7]:
#for loop

for i in range(1 ,10+1):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [10]:
#while loop
i=1
while i<=10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

#13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

In [ ]:
"""
import spam
spam.bacon()
_______________

from spam import * 
bacon()

"""