# 1. What exactly is [ ]?


*   "[ ]" is used to define list in python.

# 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)


*   we can assign any value to any position in list by using index.

In [ ]:
spam = [2, 4, 6, 8, 10]
spam[2] = "hello"
spam

[2, 4, 'hello', 8, 10]

# Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

# 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [ ]:
spam = ['a','b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

# 4. What is the value of spam[-1]?

In [ ]:
spam[-1]

'd'

# 5. What is the value of spam[:2]?

In [ ]:
spam[:2]

['a', 'b']

# Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

# 6. What is the value of bacon.index(&#39;cat&#39;)?

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')  #it gives us the index of the first occurence of 'cat'

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

In [ ]:
#it will baiscally add the '99' as the end of the list as element of the list.
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99, 99]

# 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [ ]:
# it removes the first occured element specified.
bacon.remove('cat')
bacon

[3.14, 11, True, 99, 99]

# 9. What are the list concatenation and list replication operators?


*   We use addition operator (+) as the concatenation operator for the list.
*   We use multiplication operator (*) as the replication operator for the list.

In [ ]:
l = ['q','w']
s = ['d']
print(l+s) #concatenation of the list
print(l*3) #replication of the list

['q', 'w', 'd']
['q', 'w', 'q', 'w', 'q', 'w']

# 10. What is difference between the list methods append() and insert()?

*   append() : This method is used to add element in the list at the end of the list.
*   insert() : This methos is used to add element in the list at the specific position

In [ ]:
a = [1,2,'a','b']
a.append(3) # adds element in the end of the list
print(a)
a.insert(0,'hello') # adds element 'hello' at the 0th index position
print(a)

[1, 2, 'a', 'b', 3]
['hello', 1, 2, 'a', 'b', 3]

# 11. What are the two methods for removing items from a list?


*   remove method : It removes the first occruing element.
*   pop method : It removes the element at specified posistion.
*   We can also use "del" method to remove the element from the list

In [5]:
#ex
p = [1,2,3,2,5.5,'a']
print(p)

p.remove(2) #removeing first occurance of 2
print(p)

p.pop() #pop method without argument pops out the last element from the list
print(p) 
p.pop(0) #pop method with argument pops out element positioned at the specified index.
print(p)

del p[1] 
print(p)

[1, 2, 3, 2, 5.5, 'a']
[1, 3, 2, 5.5, 'a']
[1, 3, 2, 5.5]
[3, 2, 5.5]
[3, 5.5]

# 12. Describe how list values and string values are identical.


*   List values and string values are identical because we can access the elements of the both string and list using the index numbers.

# 13. What&#39;s the difference between tuples and lists?
*   List is mutable and tuples are immutable.
*   List are denoted with "[ ]" and tuples are denoted using "( )".

# 14. How do you type a tuple value that only contains the integer 42?


*   We can type tuple with integer 43 as (42,)

In [1]:
c = (42)   #incorrect way
print (c)
print (type(c))

d = (42,)  #correct way
print (d)
print (type(d))

42
<class 'int'>
(42,)
<class 'tuple'>

## 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?
*   We can get list value's tuple form by using list().
*   We can get tuple value's list form by using tuple().

# 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?
*   Variables that contain list values contain references.

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

*    The copy() returns a shallow copy of the list, and deepcopy() returns a deep copy of the list.

In [3]:
import copy

z = [1,2,3]

z1 = copy.copy(z)
print(id(z1),":",z1)

z2 = copy.deepcopy(z)
print(id(z2),":",z2)

139898274818816 : [1, 2, 3]
139898205327168 : [1, 2, 3]