#1. Write a Python Program to Find the Factorial of a Number?

In [1]:
n = int(input("Enter the number: "))
result = 1
for i in range(1,n+1):
  result = result*i
print(result)

Enter the number: 5
120

#2. Write a Python Program to Display the multiplication Table?

In [17]:
n = int(input("Which multiplication table do you want ?: "))
for i in range(1,10+1):
  result = n*i
  print(f"{n} X {i} = {result}")

Which multiplication table do you want ?: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

#3. Write a Python Program to Print the Fibonacci sequence?

In [13]:
n = int(input("Enter the number of terms: "))
a = 0
b = 1
if n<=0:
  print("Enter positive integers")
else:
  print(a)
  print(b)
  for i in range(0,n-2):
    c = a+b
    print(c)
    a=b
    b=c

Enter the number of terms: 5
0
1
1
2
3

#4. Write a Python Program to Check Armstrong Number?

In [22]:
n = int(input("Enter the number: "))
sum = 0
temp = n
while temp>0:
  digit = temp%10
  sum = sum + (digit*digit*digit)
  temp = temp//10

if sum==n:
  print(f"{n} is an Armstrong Number.")
else:
  print(f"{n} is not an Armstrong Number.")

Enter the number: 153
153 is an Armstrong Number.

#5. Write a Python Program to Find Armstrong Number in an Interval?

In [29]:

for num in range(100,1000+1):
  order = len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum=sum+digit**order
    temp=temp//10
  if (sum==num):
    print(num)

153
370
371
407

#6. Write a Python Program to Find the Sum of Natural Numbers?

In [37]:
n = int(input("Enter positive number: "))
sum = 0
if n>0:
  for i in range(1,n+1):
    sum = sum+i
  print(f"Sum of Natural Number from 1 to {n} is: {sum}")
else:
  print("Invalid Input.")

Enter positive number: 10
Sum of Natural Number from 1 to 10 is: 55