#1. Write a Python program to convert kilometers to miles?

In [ ]:
a = float(input("Enter values in kms to convert in miles: "))
miles = a*0.621371
print(f'{a} kilometer = {miles} miles')

Enter values in kms to convert in miles: 2
2.0 kilometer = 1.242742 miles

#2. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
a = float(input("Enter value in Celsius to convert into Fahranheit: "))
fahranheit = (a*9/5)+32
print(f'{a} celsius = {fahranheit} fahranheit')

Enter value in Celsius to convert into Fahranheit: 0
0.0 celsius = 32.0 fahranheit

#3. Write a Python program to display calendar?

In [ ]:
import calendar
y = int(input("Enter Year (format:yyyy): "))
m = int(input("Enter Month (format: in numbers): "))
print(calendar.month(y,m))

Enter Year (format:yyyy): 1997
Enter Month (format: in numbers): 3
     March 1997
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

#4. Write a Python program to solve quadratic equation?

In [10]:
a = float(input("Enter value of A: "))
b = float(input("Enter value of B: "))
c = float(input("Enter value of C: "))

d = b*b-4*a*c
d = d**0.5

if d>0:
  print("roots are real and distinct (unequal)")
  print(f"Alpha: {(-b+d)/(2*a)} & Beta: {(-b-d)/(2*a)}")

elif d==0:
   print("roots are real and equal (coincident)")
   print(f"Alpha: {(-b+d)/(2*a)} & Beta: {(-b-d)/(2*a)}")
  
elif d<0:
  print("roots are real and equal (coincident)")
  print(f"Alpha: {(-b+d)/(2*a)} & Beta: {(-b-d)/(2*a)}")

else:
  print("roots are complex")
  print(f"Alpha: {(-b+d)/(2*a)} & Beta: {(-b-d)/(2*a)}")

Enter value of A: 1
Enter value of B: 10
Enter value of C: -24
roots are real and distinct (unequal)
Alpha: 2.0 & Beta: -12.0

#5. Write a Python program to swap two variables without temp variable?

In [11]:
a = 1
b = 2
print(f'Value of "a" before swaping: {a}')
print(f'Value of "b" before swaping: {b}')
print(f'Value of "a" after swaping: {a+b-a}')
print(f'Value of "b" before swaping: {a+b-b}')

Value of "a" before swaping: 1
Value of "b" before swaping: 2
Value of "a" after swaping: 2
Value of "b" before swaping: 1